@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BDO Grotesk";
  src:
    url("./fonts/BDOGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/BDOGrotesk-Regular.woff") format("woff"),
    url("./fonts/BDOGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BDO Grotesk";
  src:
    url("./fonts/BDOGrotesk-Medium.woff2") format("woff2"),
    url("./fonts/BDOGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BDO Grotesk";
  src:
    url("./fonts/BDOGrotesk-Light.woff2") format("woff2"),
    url("./fonts/BDOGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BDO Grotesk";
  src:
    url("./fonts/BDOGrotesk-ExtraBold.woff2") format("woff2"),
    url("./fonts/BDOGrotesk-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BDO Grotesk";
  src:
    url("./fonts/BDOGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/BDOGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BDO Grotesk";
  src:
    url("./fonts/BDOGrotesk-Black.woff2") format("woff2"),
    url("./fonts/BDOGrotesk-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BDO Grotesk";
  src:
    url("./fonts/BDOGrotesk-Bold.woff2") format("woff2"),
    url("./fonts/BDOGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BDO Grotesk";
  src:
    url("./fonts/BDOGrotesk-DemiBold.woff2") format("woff2"),
    url("./fonts/BDOGrotesk-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "BDO Grotesk";
}

body {
  background-color: #f4f4f4;
}
